DATABASE_URL=postgresql://neondb_owner:npg_Cvh18ZjpmbEf@ep-withered-frog-b5dbtf80-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require
DBUSERNAME=neondb_owner
DBPASS=npg_Cvh18ZjpmbEf
DBPORT=5432
DBNAME=neondb